@font-face {
  font-family: Bahnschrift;
  src: url("../fonts/BAHNSCHRIFT.TTF");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Bahnschrift;
}

header .nav--wrap .nav {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .nav--wrap .nav .logo {
  width: 135px;
  height: 28px;
}
header .nav--wrap .nav--links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}
header .nav--wrap .nav--links .nav--link {
  white-space: nowrap;
  font-size: 20px;
  padding-right: 80px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  height: 19px;
}
header .nav--wrap .nav--links .nav--link:nth-last-child(1) {
  padding-right: 0px;
}
header .nav--wrap .nav--links .nav--link a {
  text-decoration: none;
  color: black;
  text-transform: none;
}
header .nav--wrap .nav .telephone {
  display: flex;
  flex-wrap: wrap;
  margin-left: 55px;
  margin-top: -15px;
}
header .nav--wrap .nav .telephone--left {
  display: flex;
  padding-right: 0px;
  max-width: 205px;
  padding-left: 45px;
  align-items: center;
}
header .nav--wrap .nav .telephone--left p {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 500;
}
header .nav--wrap .nav .telephone--left .operator--logo {
  object-fit: none;
  padding-left: 7px;
}
header .nav--wrap .nav .telephone--right {
  display: flex;
  padding-left: 25px;
  padding-right: 0px;
  align-items: center;
}
header .nav--wrap .nav .telephone--right .telephone--vertical {
  padding-top: 20px;
  padding-left: 5px;
}
header .nav--wrap .nav .telephone--right .telephone--vertical p {
  font-size: 18px;
  line-height: 20px;
  padding-left: 5px;
}
header .nav--wrap .nav .telephone--right .operator--logo {
  object-fit: none;
  padding-left: 7px;
}

@media (max-width: 1500px) {
  header .nav--wrap .nav .nav--link {
    padding-right: 50px;
  }
  header .nav--wrap .nav .telephone {
    margin-left: 0px;
  }
}
@media (max-width: 1300px) {
  header .nav--wrap .nav {
    margin-top: 30px;
    max-width: 1000px;
  }
  header .nav--wrap .nav .logo {
    padding-top: 40px;
  }
  header .nav--wrap .nav .nav--links {
    display: block;
  }
  header .nav--wrap .nav .nav--links .nav--link {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  header .nav--wrap .nav a {
    margin: 0 auto;
  }
  header .nav--wrap .nav .logo {
    width: 175px;
    height: 40px;
  }
  header .nav--wrap .nav .nav--links {
    display: none;
  }
  header .nav--wrap .nav .telephone {
    display: none;
  }
}
@media (max-width: 1920px) {
  .hamburger-menu {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .hamburger-menu {
    z-index: 100;
    visibility: visible;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

/*# sourceMappingURL=header.css.map */
