
.menu--right{
  .menu--right--wrap{
    .menu--right--top{
      .round{
        position: fixed;
        top: 50.5vh;
        left: 96.5vw;


        width: 61px;
        height: 61px;
        border-radius: 50%;
        line-height: 4em;
        text-align: center;
        background: #FFFFFF;
        box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.25);
        .menu--profile--link{
          background: #fff;
          border: 0;
          font-size: 18px;
          width: 61px;
          height: 61px;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
        }
       
        a{
          text-decoration: none;
          text-transform: none;
          color: #000;
          font-size: 18px;

        }
      }
    }

    .menu--right--down{
      position: fixed;
      top: 60.5vh;
      //left: 96.3vw;

      &.opened{
        left: 90vw;
        transition: left 0.3s;
      }
      &.closed{
        left: 96vw;
        transition: left 0.3s;
      }
      overflow: hidden;

      width: 276px;
      height: 182px;


      background: #FDFEFF;
      box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;

      a{
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
      }


      .menu--right--inner--top{
        margin: 40px 0px 0px 30px;
        p{
          padding-left: 30px;
        }
      }

      .menu--right--inner--bottom{
        margin: 25px 10px 10px 30px;
        display: flex;
        align-items: center;
        p{
          padding-left: 20px;
        }
      }
    }

  }
}
@media (max-width: 1300px) {
  .round{
    width: 200px;
  }
}
@media (max-width: 768px) {
  .round{
    display: none;
  }
  .menu--right--down{
    display: none;
  }
}